* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.form-container {
    background-color: black;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    color: #ecf0f1;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    background-color: whitesmoke;
    color: #ecf0f1;
}

button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #16a085;
}

.error {
    color: #e74c3c;
    font-size: 0.9em;
}
